.head{
  background: url('template2img.jpg') ;
   height: 700px;
  position: relative;
  color: #ffffff;
  margin: 10px;

}
.strong{
    font-size: 30px;
}
#stg{
    font-size: 20px;
}
.content-button{
    padding-left: 80px;
    display: flex;
  margin-left: 30px;
  gap: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    
}
.nav-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-left:500px;
    gap: 30px;
    
}
.nav-links a {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.7;
  font-weight: 600;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  padding-left: 20px;
}
.logo-icon {
  color: #ffa500;
  font-size: 28px;
  font-weight: bold;
}
.home{
    color: #ffa500;
    font-weight: bold;
}

.supt{
     background-color: #00c28b;
     padding: 5px 10px;
     border-radius: 4px;
     color: #ffffff;
     text-decoration: none;
     align-content: center;
     font-weight: bold;
     margin-right: 60px;
}
#spt{
    text-decoration: none;
    padding-right: 10px;
    align-content: center;
    color: #ffffff;
}
.but{

  padding: 12px 24px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  border-radius: 4px;

}
#disc{
    background-color: #00c28b;
    
    
}
#con{
    background-color:#ffa500;
    
}
.sec{
    background:#1413131c;
    padding: 30px 40px;
    color: white;
    margin: 25px;
    height: 150px;
    background: #1d2b45;
}
.cta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    
    
}
.cta-text{
    font-size: 20px;
  margin-bottom: 30px;
  line-height: 1.4;
}

.cta-bt{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.highlight{
color: #ffa500;
}
.highlight2{
color: #00c28b;
}
.hightlight3{
    color: #ffffff;
}
.content{
    padding-left: 120px;
    padding-top: 90px;
}
.card-wrapper{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 20px;
    align-content: center;
    margin: 50px;
    
}
.card {
    display: flex;
    gap: 60px;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 12px #0000000d;
    align-items: flex-start;
    margin: 10px;
}
.fifth{
    margin: 20px;
    padding: 20px;
}
.fifth-content{
    
    gap: 60px;
    background: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 12px #0000000d;
    margin-left: 40px;
    display: flex;
    justify-content: space-between;
}
.fifth-hed{
    margin: 50px;
    padding: 50px;
}
.fifth-text{
    padding: 80px;
}
.fifth-img{
    margin: 60px;
}
.third-left{
flex: 1.5;
margin-left: 100px;

}

.third-hed{
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin: 10px;
}
.third-hed1{
    text-align: center;
    
}
.tabs {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
  width: 750px;
}

.tab {
  background: #f9f9f9;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}
.table {
  width:450px;;
  border-collapse: collapse;
  gap: 20px;
  margin-left: 75px;
}
.table th {
  text-align: left;
  padding: 12px 10px;
  background: #f3f3f3;
}

.table td {
  padding: 12px 10px;
  border-bottom: 1px solid #eee;
}
.third-right{
    flex: 1;
    gap: 20px;
}
.fourth{
  display: flex;
  height: 650px;
  background: #1d2b45;
  color: white;
  margin: 10px;
}
.fourth-left{
    width:750px;
    height: 650px;
}
.fourth-right{
    margin-top: 100px;
    margin-left: 100px;
}
.form-row {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
input, select{
    background-color: #c7c9cb;
}

 
button{
    background-color: #ffa500;
}
footer{
    margin: 10px;
}
.footer-logo{
    text-align: center;
    background: #394f78;
    height: 120px;
    display: flex;
    flex-direction: row;  
    justify-content: center;
    gap: 20px;
    
}
.footer-logo-text{
    padding-top:10px;
    padding-left:20px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #909194;
    gap:5px;
}
.footer-bottom{
    background: #1d2b45;
    height: 80px;
    padding-top: 30px;
}
.footer-bottom p{
    color: #ffffff;
    text-align: center;
    
}
.footer-bottom .high{
    color: #ffa500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}